html, body {
  /* height: 100%;
  width: 100%; */
  margin: 0;
  overflow: none;
}

#mapContainer {
  height: 93.5%;
  width: 100%;
  flex-grow: 1;
  overflow-y:none;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  padding: 15px 20px 15px 20px;
}

.modal-header {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.modal-body {
  padding: 1rem 1rem 0rem 1rem;
}

.modal-footer {
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

#aboutModal {
  display: none;
}

#reset-button {
  position: fixed;
  width: 105px;
  height: 29px;
  cursor: pointer;
  z-index: 5;
  top: 66px;
  left: 50px;
  background: #fff;
  border: none;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
  border-radius: 4px;
  font: 500 15px/15px helvetica, sans-serif;
  font-weight: bolder;
}

#tools {
  position: fixed;
  z-index: 1;
  right: 50px;
  bottom: 130px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  padding: 15px 20px 15px 20px;
  width: 280px;
  height: 285px;
}

.slidecontainer {
  position: relative;
  left: -60px;
  top: 63px;
  width: 129px;
  transform: rotate(90deg);
}

.slider-steps {
  position: relative;
  top: -12px;
  left: 20px;
}

.legend {
  position: relative;
}

.legend-title {
  font-size: 10px;
  letter-spacing: 0.075em;
  color: rgba(255, 255, 255, 0.85);
  font-weight: bold;
  text-transform: uppercase;
}

.color-code {
  display: flex;
}

.colors {
  width: 40px;
  height: 10px;
}

#c1 {
  background-color: #FCFADA;
}

#c2 {
  background-color: #A4DAD3;
}

#c3 {
  background-color: #73A8C2;
}

#c4 {
  background-color: #507CB2;
}

#c5 {
  background-color: #30529F;
}

#c6 {
  background-color: #263A83;
}

.color-labels-container {
  margin-top: 4px;
  margin-left: 28px;
  display: flex;
  width: 185px;
  justify-content: space-between;
}

.color-label {
  top: 70px;
  font-size: 10px;
  letter-spacing: 0.075em;
  color: rgba(255, 255, 255, 0.7);
}

h1 {
  font: georgia, serif;
  color: #fff;
  margin: 0 0 15px 0;
}

h2 {
  font: 400 14.9px/20px georgia, serif;
  color: rgba(255, 255, 255, 0.5);
  text-align: justify;
  margin-bottom: 1rem;
}

.instructions {
  color: rgba(255, 255, 255, 0.8);
}

h3 {
  font-size: 17px;
  font: georgia, serif;
  color: rgba(255, 255, 255, 0.85);
}

strong {
  color: rgba(255, 255, 255, 0.9);
  font-weight: bolder;
}

p {
  font: 500 10px/10px helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.075em;
  line-height: 15px;
  margin-bottom: 0.2rem;
}

a {
  color: lightblue;
}

h4 {
  font: georgia, serif;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 23px;
}

h5 {
  font: 500 11px/11px helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.075em;
  line-height: 20px;
}

.popp {
  font: 500 11px/11px helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  line-height: 15px;
}

.mapboxgl-popup-content {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  width: 400px;
  padding: 15px;
}

.travel-popup {
  text-align: center;
  font-size: 14px;
  padding-bottom: 10px;
}

.popup-footer {
  text-align: center;
}

.mapboxgl-popup {
  max-width: none !important;
}

#pie-chart {
  width: 350px;
  margin: auto;
}

#pie-chart > div {
  width: 350px;
}
