html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: none;
  display: flex;
  flex-direction: column;
}

#mapContainer {
  height: 93.5%;
  width: 100%;
  flex-grow: 1;
  overflow-y:none;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  padding: 15px 20px 15px 20px;
}

.modal-header {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.modal-body {
  padding: 1rem 1rem 0rem 1rem;
}

.modal-footer {
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

#tip-1, #tip-2, #tip-3, #tip-4, #tip-5 {
  position: fixed;
  display: none;
  z-index: 50;
}

#tip-1 {
  bottom: 225px;
  right: 350px;
}

#tip-2 {
  bottom: 110px;
  right: 350px;
}

#tip-3 {
  top: 60px;
  left: 710px;
}

#tip-4 {
  top: 105px;
  left: 50px;
}

#tip-5 {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.tip-right {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid rgba(255, 255, 255, 1);
  position: relative;
  left: 450px;
  top: 40px;
}

.tip-top {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(255, 255, 255, 1);
  width: 0;
  position: relative;
  left: 40px;
}

#tip-content {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  padding: 15px 20px 15px 20px;
  width: 450px;
  padding: 10px;
}

#tip-header {
  padding: 10px 20px 0px 20px;
  margin-bottom: 0px;
}

#tip-title {
  color: black;
  font-size: 27px;
  margin: 0px;
}

#tip-body {
  padding: 15px 20px 0px 20px;
}

#tip-text {
  color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  margin-bottom: 0px;
}

#tip-footer {
  padding: 10px 20px 0px 20px;
}

.close-btn, .prev-btn, .next-btn {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  cursor: pointer;
  font: 13px/normal sans-serif;
  text-shadow: 1px 1px 0 #fff;
}

#prev-1, #next-5 {
  color: rgba(0, 0, 0, 0.6);
  cursor: default;
}

.prev-btn {
  position: relative;
  left: 200px;
}

.next-btn {
  position: relative;
  left: 200px;
}

#modal-backdrop {
  position: fixed;
  display: none;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.navbar-brand {
  cursor: default;
}

#reset-button {
  position: fixed;
  width: 105px;
  height: 29px;
  cursor: pointer;
  z-index: 5;
  top: 66px;
  left: 50px;
  background: #fff;
  border: none;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
  border-radius: 4px;
  font: 500 15px/15px helvetica, sans-serif;
  font-weight: bolder;
}

#tools {
  position: fixed;
  z-index: 1;
  right: 50px;
  bottom: 130px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  padding: 15px 20px 15px 20px;
  width: 280px;
  height: 380px;
}

#menu {
background-color: rgba(0, 0, 0, 0.5);
display: flex;
flex-wrap: nowrap;
margin-bottom: 5px;
z-index: 1;
top: 10px;
right: 10px;
border-radius: 3px;
width: 240px;
font-family: helvetica, sans-serif;
}

#menu a {
font-size: 10.5px;
color: rgba(255, 255, 255, 0.7);
flex: 50%;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-radius: 3px;
text-align: center;
}

#menu a.active {
background-color: #f8f8f8;
color: #404040;
}

#layer-note{
  margin-bottom: 15px;
}

.slidecontainer {
  position: relative;
  left: -60px;
  top: 63px;
  width: 129px;
  transform: rotate(90deg);
}

input[type="range"] {
  width: 100px;
}

.slider-steps {
  position: relative;
  top: -12px;
  left: 20px;
}

.legend {
  position: relative;
}

#travel-mode-legend {
  display: none;
}

.legend-title {
  font-size: 10px;
  letter-spacing: 0.075em;
  color: rgba(255, 255, 255, 0.85);
  font-weight: bold;
  text-transform: uppercase;
}

.color-code {
  display: flex;
}

.colors {
  width: 40px;
  height: 10px;
}

.color-labels-container {
  margin-top: 4px;
  margin-left: 28px;
  display: flex;
  width: 185px;
  justify-content: space-between;
}

.color-label {
  top: 70px;
  font-size: 10px;
  letter-spacing: 0.075em;
  color: rgba(255, 255, 255, 0.7);
}

h1 {
  font: georgia, serif;
  color: #fff;
  margin: 0 0 15px 0;
}

h2 {
  font: 400 14.9px/20px georgia, serif;
  color: rgba(255, 255, 255, 0.5);
  text-align: justify;
  margin-bottom: 1rem;
}

.instructions {
  color: rgba(255, 255, 255, 0.8);
}

h3 {
  font-size: 17px;
  font: georgia, serif;
  color: rgba(255, 255, 255, 0.85);
}

strong {
  color: rgba(255, 255, 255, 0.9);
  font-weight: bolder;
}

p {
  font: 500 10px/10px helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.075em;
  line-height: 15px;
  margin-bottom: 0.2rem;
}

a {
  color: rgba(115, 168, 194, 0.8);
}

h4 {
  font: georgia, serif;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 23px;
}

h5 {
  font: 500 10px/10px helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.075em;
  line-height: 20px;
}

.popp {
  font: 500 11px/11px helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  line-height: 15px;
}

.mapboxgl-popup-content {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  width: 400px;
  padding: 15px;
}

.travel-popup {
  text-align: center;
  font-size: 14px;
  padding-bottom: 10px;
}

.popup-footer {
  text-align: center;
}

.mapboxgl-popup {
  max-width: none !important;
}

#pie-chart {
  width: 350px;
  margin: auto;
}

#pie-chart > div {
  width: 350px;
}

#bar-chart {
  width: 350px;
  margin: auto;
}

#bar-chart > div {
  width: 350px;
}
